<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Library Management System</title>
</head>
<style>
    td, tr, th, table{
        border:1px solid black;
    }
</style>
<body>
<h1>List of Authors</h1>
<table>
    <tr>
        <th>Author_Id</th><th>FirstName</th><th>LastName</th>
    </tr>
    <tr th:each="author : ${authors}">
        <td th:text="${author.id}">1</td>
        <td th:text="${author.firstName}">Default</td>
        <td th:text="${author.lastName}">Default</td>
    </tr>
</table>
</body>
</html>